html
{
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
ul li
{
  display: inline-block;
  list-style: none;
}

.ivu-card-body
{
  padding: 0px;
}

.tmpl
{
  width: 100%;
  overflow: hidden;
}

/*解决iview联动菜单大数据的显示问题*/
.account-group ul li
{
  display: -webkit-box;
}

/*解决iview 折叠面板的头高度固定问题*/
.ivu-collapse>.ivu-collapse-item>.ivu-collapse-header
{
  height: 100%;
}

.card-content .ivu-collapse-simple
{
  border: none;
}

/*重写 级联选择器的 disbaled 样式*/
.ivu-cascader-disabled .ivu-input{
  background: #fff;
  border: none;
  cursor: context-menu;
  font: normal 15px/28px \5FAE\8F6F\96C5\9ED1, "Microsoft YaHei";
  color: #2a2a2a;
}


.ivu-cascader-disabled .ivu-icon-ios-arrow-down:before{
  content: none;
}
